<% @stations.each do |station| %>
<h5><%= station.station_name %></h5>
<ul>
  <li><%= station.street_address %></li>
  <li><%= station.fuel_type_code %></li>
  <li><%= station.access_days_time %></li>
</ul>
<% end %>



<!-- Name, Address, Fuel Types, Distance, and Access Times -->
